@import url('./fonts/roboto/Roboto-Regular.ttf');

footer {
    background-color: var(--primary);
    color: white;
    position: relative;
    width: 100%;
    margin-top: auto;
}

footer>div {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

footer>div>div {
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
    transition: 0.3s ease-out;
    font-style: normal;
    font-weight: bold;
}

a:hover {
    color: var(--white);
    text-decoration: underline;
    transition: 0.3s ease-in;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

